// =======================* Srction 5. Footer! (-> 767 including) *======================= // 
/* --- Footer! (-> 767 including) --- */

.footer-box {
    justify-content: center;
}

.logo-f-size { 
    padding-bottom: 72px;
    text-align: center;
}

.footer-text {
    width: 268px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.logo-box {
    display: block;   
    text-align: center;
}

.foter-cosial-media {
    padding-bottom: 72px;
}

.medium-text-footer-social {
    text-align: center;
}

.social-list-link-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $transition-var;

    &:focus,
    &:hover {
    background-color: $success-color;    
    }
}

.subscribe-form {
    display: flex;
    width: 25%;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: #fff;
}

/* Footer subscribe form */
.footer-subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-input-btm-block {
    display: flex;
}

.footer-input-area {
    display: flex;
    flex-direction: column;
}

.footer-email-input {
    position: relative;

    width: 100%;
    height: 40px;
    
    padding: 8px 16px;
    margin-bottom: 16px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid #fff;
    border-radius: 4px; 
    background-color: $dark-color;

    &::placeholder {
        color: #fff;
    }
}

.subscribe-button {
    display: flex;
    
    height: 40px;
    align-self: center;
    align-items: center;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: $hero-text-color;
    background-color: $primary-brand-color;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    fill: #fff;
    transition: background-color $transition-var;

    &:hover,
    &:focus {
        background-color: $pressed-state-color;
    }
}

.subscribe-btm-icon {
    margin-left: 16px;
}

// =======================* Srction 5. Footer! (768+) *======================= // 
/* --- Footer! (768+) --- */
@media screen and (min-width: 768px) {
    .footer-box {
        display: flex;
        flex-wrap: wrap;
    }

    .logo-box {
        text-align: left;
    }

    .footer-email-input {
        margin-bottom: 0px;
    }

    .foter-cosial-media {
        margin-left: 24px;
    }

    .footer-input-area {
        flex-direction: row;
    }

    .medium-text-footer-social {
        text-align: left;
    }

    .subscribe-button {
        margin-left: 24px;
    }

    .footer-email-input {
        width: 264px;
    }

    .footer-subscribe-form {  
        width: 496px;
    }
}

// =======================* Srction 5. Footer! (1200+) *======================= // 
/* --- Footer! (1200+) --- */
@media screen and (min-width: 1200px) {
    .logo-f-size {
        text-align: left;
        padding-bottom: 0px;
    }

    .foter-cosial-media {
        margin-left: 120px;
        padding-bottom: 0px;
    }
    
    .footer-subscribe-form {
        margin-left: 80px;
        width: 450px;
    }
}