
// =======================*======================= Mobile size (<768px)! =======================*======================= // 
.page-header {
    padding-top: 24px;
    padding-bottom: 22px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-nav {
    display: none;
}

.adress-nav {
    display: none;
}