
// =======================*======================= Mobile size (<768px)! =======================*======================= // 
.mobile-menu-open {
    background-color: transparent;
    border: transparent;
    height: 22px;
    
    padding-left: 0px;
    padding-right: 0px;
}

.icon-mob {
    stroke: $dark-color;
}