
// =======================* Mobile menu drop window! *======================= // 
/* --- Mobile menu drop window styles --- */
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;

    background-color: #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity $transition-var, visibility $transition-var;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;  
}

.mobile-menu-container {
    height: 100%;
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.mobile-menu_close-btn {
    position: absolute;

    padding: 0px;
    line-height: 0px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: $accent-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; 

    background-color: #fff;
}

/* --- Mobile menu content styles ---- */

/* --- Nav menu --- */
.drop-site-nav-item {
    display: flex;
}

.drop-site-nav-item .carrent {
    color: $pressed-state-color;
}

.drop-site-nav-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: $dark-color;
}

.drop-site-nav-item + .drop-site-nav-item {
    margin-top: 40px;
}

/* --- Phon + email --- */
.drop-mobile-menu {
    margin-top: auto;
}

.mob-menu-item + .mob-menu-item {
    margin-top: 40px;
}

.mob-text-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;    

    color: $primary-brand-color;
    transition: color $transition-var;

    &:hover,
    &:focus {
    color: $pressed-state-color;
    }
}
    
// .mob-text-style:hover,
// .mob-text-style:focus {
//     color: $pressed-state-color;
// }

.ema-text-style {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: $dark-color;
}

/* --- Social icons --- */
.social-list-mob {
    display: flex;
    margin-top: 48px;
}

.social-list-link-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    fill: $hero-text-color;
    background-color: $primary-brand-color;
    transition: background-color $transition-var;

    &:focus,
    &:hover {
        background-color: $pressed-state-color;    
    }
}
// .social-list-link-mob:focus,
//     .social-list-link-mob:hover {
//         background-color: $pressed-state-color;    
//     }

.social-list-iten-mob + .social-list-iten-mob {
    margin-left: 56px;
}

    