
// =======================* Mobile size! (-> 767 including) *======================= // 
.mobile-menu-open {
    background-color: transparent;
    border: transparent;
    height: 22px;
    
    padding-left: 0px;
    padding-right: 0px;
}

.icon-mob {
    stroke: $dark-color;
}

/* --- Mobile size! (768+ = hide for all) --- */
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }
}